@import '_null';

// fonts from web
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700");
@import url("https://fonts.googleapis.com/css?family=Play:regular,700");
// fonts from local fonts
@font-face {
	font-family: 'uniSans';
	src: url('../fonts/Uni-Sans-Heavy.eot');
	src: local('☺'), url('../fonts/Uni-Sans-Heavy.woff') format('woff'), url('../fonts/Uni-Sans-Heavy.ttf') format('truetype'), url('../fonts/Uni-Sans-Heavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// default font
$fontFamily: "Roboto";

// var
$minWidth: 320px;
$maxWidth: 1400px;
$maxWidthContainer: 1140px;
$md1: $maxWidthContainer + 12px;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
