@import '../../common/css/null';

body {
    background: #1f1f1f;
    color: #fff;
    padding: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {
    border: 5px solid darkred;
    max-width: 800px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    padding-top: 100px;
    color: #1f1f1f;
    div {
        line-height: 50px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    &__1 {
        background-color: #ece89d;
        position: absolute;
        width: 300px;
        top: 0;
        left: -10px;
    }

    &__2 {
        background-color: #5e5373;
        color: #fff;
        position: relative;
        top: 10px;
        left: 10px;
        z-index: 2;
    }

    &__3 {
        background-color: #18b5a4;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    margin-bottom: 20px;
}

.list {
    font-size: 18px;
    li {
        margin-bottom: 15px;
        position: relative;
        padding-left: 30px;
        &::before {
            content: '';
            background: url(../img/check_green.png) 0 / 20px no-repeat;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
