@import '../../common/css/null';

body {
    background: #1f1f1f;
    color: #fff;
    padding: 30px;
}

.text {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 30px;
    &::first-line {
        color: green;   
    }
    &::first-letter {
        color: darkred;   
        font-size: 50px;
    }
}

.list {
    li {
        font-size: 24px;
        margin-bottom: 20px;
        &::before {
            content: '';
            width: 10px ;
            height: 10px ;
            border-radius: 50%;
            background: red;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 2px;
        }
        &:hover::before {
            background: yellow;
        }
        &::after {
            content: ' ...';
        }
    }
}
